---
const { url="#", cardimage="", cardimagealt="", 

badgenyt="false", badgerabat="false", badgerabatsats="", badgefaapladser="false", 

holdnavn="", tidspunkt="", aldersgruppe="", niveau="", pladserpaaholdet="", lokale="", holdbeskrivelse="", 

underviserfoto="", underviserfotoalt="", undervisernavn="", underviserinfo="" } = Astro.props;
---
<article class="border-4 border-blue-600 flex flex-col h-auto">
    <div class="relative">
        <!-- <a href={url} class=""></a> -->
        <img src={cardimage} alt={cardimagealt} class="w-full h-[300px] object-cover">
        {(badgenyt === "true") && <div class="badge absolute top-[0] bg-blue-600 text-neutral-50 py-xs px-s h-auto">Nyt hold!</div>}
        {(badgerabat === "true") && <div class="badge absolute top-[0] right-[0] bg-red-600 text-neutral-50 py-xs px-s h-auto">10% Rabat</div>}
        {(badgefaapladser === "true") &&  <div class="badge absolute bottom-[0] right-[0] bg-yellow-600 text-neutral-900 py-xs px-s h-auto">Kun få pladser tilbage!</div>}
    </div>

<div class="pt-sm px-s pb-s flex-grow">
<h2 class="text-large">{holdnavn}</h2>

<div class="grid grid-cols-2 py-xs">
<p>{tidspunkt}</p>
<p>{aldersgruppe}</p>
<p>{niveau}</p>

<p>{pladserpaaholdet}</p>
<p>{lokale}</p>
</div>

<p>{holdbeskrivelse}</p>
</div>

<div class="border-t-4 grid grid-cols-[1fr_4fr] items-center gap-xs py-m px-s border-blue-600">
        <img src={underviserfoto} alt={underviserfotoalt} class="rounded-full w-[161.51px] h-auto">
    <div>
    <p>Underviser: {undervisernavn}</p>
    <p>{underviserinfo}</p>
    </div>
</div>
</article>